$main-color: #31aff2;
$warning-color: #ff7043;
$main-color-faded: rgba(49, 175, 242, 0.12);
$default-border-color: #eee;
$font-color-main: #575757;
$font-color-faded: lighten($font-color-main, 20%);

$fa-font-path: "../fonts/fontawesome";