.btn-primary {

  border-color: $main-color;
  color: $main-color;

  &:hover, &:focus {
    background: lighten($main-color, 40%);
    outline: none;
  }

  &:active {
    background: $main-color;
    color: white;
  }

}

.btn-warning {

  border-color: $warning-color;
  color: $warning-color;

  &:hover, &:focus {
    background: lighten($warning-color, 30%);
    outline: none;
  }

  &:active {
    background: $warning-color;
    color: white;
  }

}

.btn {

  border: 2px solid;
  background: white;

  padding: 14px 28px;
  border-radius: 4px;

  transition: all ease 250ms;

  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  text-transform: uppercase;

}

.icon-btn {
  background: white;

  padding: 14px 16px;
  min-width: 20px;
  border-radius: 50%;
  border: 2px solid transparent;

  transition: all ease 250ms;

  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

}

